@charset "UTF-8";
body {
  min-width: 320px;
  font-family: "Raleway";
}

.color {
  background-color: #F7F7F7;
}

/* 1. RESET Y REGLAS BÁSICAS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 2. HEADER */
.header {
  background-color: #fff;
  padding: 20px 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}
.header__logo h3 {
  color: #08A6E4;
  font-family: "Raleway";
  font-weight: 300;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 0;
  margin: 0;
}
.header__menu-icon {
  font-size: 1.5em;
  cursor: pointer;
  color: #08A6E4;
}
.header__nav .header__menu {
  list-style: none;
  display: none;
}
.header__nav .header__menu-item {
  margin-left: 20px;
}
.header__nav .header__menu-item a {
  text-decoration: none;
  color: #000000;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.28px;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 10px;
  }
  .header__menu-icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .header__nav {
    width: 100%;
  }
  .header__nav.active {
    display: block;
  }
  .header__nav .header__menu {
    display: block;
  }
  .header__nav .header__menu-item {
    margin-left: 0;
    margin-bottom: 10px;
    width: 100%;
  }
  .header__nav .header__menu-item a {
    display: block;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #eee;
  }
}
@media only screen and (min-width: 1000px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
  }
  .header__nav .header__menu {
    display: flex;
  }
  .header__nav .header__menu-item {
    margin-right: 20px;
  }
}
/* 3. HERO */
.hero {
  text-align: center;
  padding: 20px;
}
.hero__title {
  font-size: 24px;
  margin-bottom: 10px;
}
.hero__subtitle {
  font-size: 16px;
  margin-bottom: 15px;
}
.hero__cta {
  background-color: #08A6E4;
  color: #fff;
  border: none;
  padding: 15px 106px;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(6.2711864407, 130.1271186441, 178.7288135593, 0.5);
  transition: background-color 0.3s;
}
.hero__cta:hover {
  background-color: rgb(6.2711864407, 130.1271186441, 178.7288135593);
}
.hero__image {
  width: 100%;
  margin-top: 20px;
  /* Ajuste para Sobremesa */
}
@media only screen and (min-width: 1000px) {
  .hero__image .hero {
    flex-direction: row;
  }
}

/* 3.5. SALES */
.sales {
  text-align: center;
  /* Contenedor para el ícono y el círculo dibujado */
}
.sales__title {
  font-size: 46px;
  margin: 20px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0%;
}
.sales__items {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.sales__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin: 0 10px;
}
.sales__icon-wrapper {
  position: relative;
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 10px;
}
.sales__icon-wrapper .sales__circle {
  position: absolute;
  z-index: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  left: -15px;
  top: 0px;
}
.sales__icon-wrapper .sales__circle--rojo {
  background-color: #ff6b6b;
}
.sales__icon-wrapper .sales__circle--azul {
  background-color: #48dbfb;
}
.sales__icon-wrapper .sales__circle--verde {
  background-color: #1dd1a1;
}
.sales__icon {
  position: relative;
  z-index: 1;
}
.sales__description {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 20px;
}
.sales__number {
  font-size: 1.2em;
  margin-top: 0.5em;
  font-weight: 600;
}
.sales__bullet {
  font-size: 1.2em;
  color: #000;
}
.sales__text {
  margin-top: 1em;
  font-size: 16px;
  color: #888;
}

@media only screen and (max-width: 768px) {
  .sales__items {
    display: block;
  }
  .sales__item {
    margin: 20px auto;
  }
}
/* 3.6. CARDS */
.cards-section {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}
.cards-section .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  border-radius: 8px;
  padding: 1em;
  background-color: #FFFFFF;
}
.cards-section .card .text-content {
  position: relative;
  z-index: 1;
}
.cards-section .card .text-content h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
}
.cards-section .card .text-content p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  white-space: pre-line;
  margin: 1em;
}
.cards-section .card .image-content {
  position: relative;
  z-index: 1;
}
.cards-section .card .image-content img {
  max-width: 100%;
  height: auto;
  display: block;
}
.cards-section .card-1 .text-content p {
  position: relative;
  padding-bottom: 10px;
}
.cards-section .card-1 .text-content p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  background-color: #FB3B64;
}
.cards-section .card-1 .image-content {
  text-align: right;
}
.cards-section .card-1 .image-content::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 10px;
  width: 150px;
  height: 150px;
  border-radius: 25px;
  background-color: #FB3B64;
  z-index: -1;
  transform: rotate(15deg);
}
.cards-section .card-2 .text-content p {
  position: relative;
  padding-bottom: 10px;
}
.cards-section .card-2 .text-content p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  background-color: #08A6E4;
}
.cards-section .card-2 .image-content::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  background-color: #08A6E4;
  border-radius: 50%;
  z-index: -1;
}
@media (max-width: 768px) {
  .cards-section {
    flex-direction: column-reverse;
    align-items: center;
  }
  .cards-section .text-content {
    order: 2;
    width: 100%;
    text-align: center;
  }
  .cards-section .image-content {
    order: 1;
    width: 100%;
    text-align: center;
  }
  .cards-section .card-2 {
    position: relative;
  }
}
.cards-section .image-content {
  position: relative;
  z-index: 1;
}
.cards-section .cards-row {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}
.cards-section .cards-row .card-3 .text-content p {
  position: relative;
  padding-bottom: 10px;
}
.cards-section .cards-row .card-3 .text-content p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  background-color: #55DFB4;
}
.cards-section .cards-row .card-3, .cards-section .cards-row .card-4 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards-section .cards-row .card-4 {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.cards-section .cards-row .card-4 .text-content {
  flex: 1;
}
.cards-section .cards-row .card-4 .image-content {
  flex: 1;
  text-align: right;
  flex-shrink: 0;
}
.cards-section .cards-row .card-4 .image-content img {
  object-fit: cover;
}

/* Form Section*/
.form-section {
  display: block;
  padding: 20px 10px;
}

/* Form Container */
.form-container {
  background-color: #fff;
  padding: 30px;
  font-family: "Open Sans";
  width: 80%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 22px;
}

/* Form Left Información de contacto email y tlf */
.form-left {
  padding-left: 30px;
}
.form-left h1 {
  margin-bottom: 10px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 39px;
  line-height: 57.53px;
}
.form-left p {
  margin-bottom: 3.1em;
}
.form-left .contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: #A5A5A5;
  gap: 20px;
}
.form-left .contact-info p {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-right: 20px;
}
.form-left .contact-info p img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

/* Contact Form */
.contact-form {
  width: 100%;
  padding-left: 30px;
}
.contact-form .form-group {
  margin-bottom: 20px;
  color: #08A6E4;
}
.contact-form label {
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: 14.98px;
  letter-spacing: 3.28px;
  margin-bottom: 1em;
  margin-top: 1em;
}

.cta {
  display: block;
  margin-left: auto;
  background-color: #08A6E4;
  color: #fff;
  border: none;
  padding: 15px 70px;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(6.2711864407, 130.1271186441, 178.7288135593, 0.5);
  transition: background-color 0.3s;
  margin-top: 20px;
}
.cta:hover {
  background-color: rgb(6.2711864407, 130.1271186441, 178.7288135593);
}

/* Contenedor y botón de enviar */
.save-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#result {
  font-size: 18px;
  color: white;
  text-align: right;
  padding-right: 15px;
  flex-grow: 1;
}

/*Versión para ordenadores         */
@media only screen and (min-width: 1000px) {
  .form-container {
    display: flex;
    justify-content: space-between;
  }
  .form-left {
    width: 40%;
    padding-left: 30px;
  }
  .contact-form {
    width: 55%;
    padding-left: 30px;
  }
}
/* Media Queries para Responsives */
@media (max-width: 768px) {
  .form-container {
    padding: 15px;
  }
  .conversion-box {
    flex-direction: column;
    align-items: flex-start;
  }
  .unit-container,
  .input-group {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}
@media (max-width: 480px) {
  header {
    font-size: 18px;
  }
  .form-container {
    padding: 15px;
  }
  footer {
    padding: 15px 0;
  }
  .footer-content a {
    font-size: 12px;
  }
}
/* 5. PRICES */
.prices {
  text-align: center;
  padding: 40px 20px;
}

.prices__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  margin: 1em;
}

.prices__list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.prices__item {
  position: relative;
  padding-bottom: 60px;
  background: white;
  padding: 20px;
  margin-top: 2em;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.basic {
  border: 1px solid #FB3B64;
}
.basic:hover {
  box-shadow: 5px 10px 27px 0px #FB3B64;
}

.professional {
  border: 1px solid #08A6E4;
}
.professional:hover {
  box-shadow: 5px 10px 27px 0px #08A6E4;
}

.premium {
  border: 1px solid #55DFB4;
}
.premium:hover {
  box-shadow: 5px 10px 27px 0px #55DFB4;
}

.prices__item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 21px;
  line-height: 24.65px;
  letter-spacing: 0%;
}

.prices__item-price {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: 0%;
}

.basic .prices__item-price {
  color: #FB3B64;
}

.professional .prices__item-price {
  color: #08A6E4;
}

.premium .prices__item-price {
  color: #55DFB4;
}

.prices__features {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.prices__features li {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 2em;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.07px;
}

.check {
  color: #55DFB4;
}

.cross {
  color: #FB3B64;
}

.prices__button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  display: inline-block;
  padding: 15px 50px;
  border-radius: 33px;
  font-family: "Open Sans";
  border: 1px solid;
  font-size: 18px;
  cursor: pointer;
}

.basic .prices__button {
  background: #FB3B64;
  color: white;
}

.professional .prices__button {
  background: #08A6E4;
  color: white;
}

.premium .prices__button {
  background: #55DFB4;
  color: white;
}

@media (max-width: 768px) {
  .prices__list {
    flex-direction: column;
    align-items: center;
  }
}
.footer {
  background-color: #f5f5f5;
  padding: 20px 50px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Raleway";
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__left {
  display: flex;
  flex-direction: column;
}
.footer__logo {
  color: #08A6E4;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 5px;
}
.footer__copyright {
  font-size: 12px;
  color: #555;
}
.footer__right {
  display: flex;
  align-items: center;
}
.footer__social-icon {
  margin-left: 10px;
  color: #08A6E4;
  font-size: 1.5em;
  display: inline-block;
}
.footer__social-image {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
  .footer {
    padding: 10px;
  }
  .footer__content {
    flex-direction: column;
    align-items: center;
  }
  .footer__left {
    align-items: center;
    margin-bottom: 10px;
  }
  .footer__social-icon {
    margin: 5px;
  }
}

/*# sourceMappingURL=styles.css.map */
