// Base de la pagina
@use '../base/variables' as vars
@use '../base/reset' as reset

// 6. FOOTER
.footer
  background-color: #f5f5f5
  padding: 20px 50px
  box-shadow: 0 -5px 40px 0 #00000033
  
  &__content
    display: flex
    justify-content: space-between
    align-items: center

  &__left
    display: flex
    flex-direction: column

  &__logo
    color: vars.$primary-color
    font-size: 26px
    font-weight: 300
    margin-bottom: 5px
    line-height: 30px

  &__copyright
    font-family: vars.$font-open-sans
    font-size: 11px
    color: #A5A5A5

  &__right
    display: flex
    align-items: center

  &__social-icon
    margin-left: 1em
    color: vars.$primary-color
    display: inline-block

  &__social-image
    width: 24px
    height: 24px
    background-size: contain
    background-repeat: no-repeat

// Media Query para Mobile
@media only screen and (max-width: 768px)
  .footer
    padding: 10px

    &__left
      align-items: center
      margin-bottom: 10px
