// Base de la pagina
@use '../base/variables' as *
@use '../base/reset' as *

/* Form Section*/
.form-section
  display: block
  padding: 20px 10px

/* Form Container */
.form-container
  background-color: #fff
  padding: 30px
  font-family: $font-open-sans
  width: 80%
  margin: 0 auto
  font-size: 16px
  line-height: 22px

/* Form Left - Información de contacto email y tlf */
.form-left
  padding-left: 30px

  h1
    margin-bottom: 1em
    font-family: $font-raleway // Solo el h1 usa Raleway
    font-weight: 400
    font-size: 49px
    line-height: 57.53px

  .contact-info
    display: flex
    flex-wrap: wrap // Permite que se envuelvan si es necesario
    justify-content: flex-start
    color: #A5A5A5
    gap: 20px

  & p
    display: flex
    align-items: center
    margin-right: 1em
    margin-bottom: 3.1em
    font-weight: 400
    font-size: 16px
    line-height: 22px

  & img
    margin-right: 10px
    width: 27px
    height: 27px

/* Contact Form */
.contact-form
  width: 100%
  padding-left: 30px

  & .form-group
    margin-bottom: 20px
    color: #08A6E4

  & label
    display: block
    font-size: 11px
    line-height: 14.98px
    letter-spacing: 3.28px

.contact-form input[type="text"],
.contact-form input[type="email"]
  width: 100%
  padding: 10px
  border: none
  border-bottom: 1px solid #ddd

.contact-form .consent
  display: flex
  color: rgba(112, 112, 112, 1)
  font-weight: 400
  font-size: 12px
  line-height: 16.34px
  flex-wrap: wrap

.checkbox-wrapper
  display: flex
  align-items: flex-start


.contact-form input[type="checkbox"]
  width: 24px
  height: 24px
  margin-right: 1em
  flex-wrap: wrap

/* Botón de enviar */
.cta
  display: block
  margin-left: auto
  background-color: $primary-color
  color: #fff
  border: none
  padding: 15px 70px
  font-size: 1.1em
  cursor: pointer
  border-radius: 50px
  box-shadow: 0 4px 8px rgba($secondary-color, 0.5)
  transition: background-color 0.3s
  margin-top: 20px

  &:hover
    background-color: $secondary-color

/* Contenedor y botón de enviar */
.save-container
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%

#result
  font-size: 18px
  color: white
  text-align: right
  padding-right: 15px
  flex-grow: 1

/* Media Queries */

// Versión para ordenadores
@media only screen and (min-width: 1000px)
  .form-container
    display: flex
    justify-content: space-between

  .form-left
    width: 40%
    padding-left: 30px

  .contact-form
    width: 55%
    padding-left: 30px

// Versión móvil y tablet
@media (max-width: 768px)
  .form-container
    padding: 15px

  // En móviles, se apilan los elementos del formulario en bloque
  .conversion-box
    flex-direction: column
    align-items: flex-start

  .unit-container,
  .input-group
    flex-direction: column
    align-items: flex-start
    width: 100%

// Versión móvil pequeña
@media (max-width: 480px)
  header
    font-size: 18px

  .form-container
    padding: 15px

  footer
    padding: 15px 0

  .footer-content a
    font-size: 12px
